.cuerpito {
  font-family: Courier;
  padding: 0% 10%;

}
#container {i
width: 100%;
text-align: center;

background-color: white;


}
#post{
font-size: 20px;
}
#cabezera{

background-color: brown;
color:white;
font-size: 40px;
text-align: left;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
#tagline {
  font-size: 0.5em;
}

body {
background-color: rgba(142, 224, 153, 0.5);
}

.logo {
  position: fixed;
  left:0;
  top:0;
  width: 65px;
  height: 65px;
  margin: 10px;
}

